<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->



    <bean id="alloy" class="techehub.AlloyWheel">
        <property name="size" value="17">
        </property>
    </bean>

    <bean id="disc" class="techehub.DiscWheel">
        <property name="size" value="15">
        </property>
    </bean>

    <!--
    <bean id="altoLxi" class="techehub.Car">

        <property name="fl" ref="disc">
        </property>

        <property name="fr" ref="disc">
        </property>

        <property name="bl" ref="disc">
        </property>

        <property name="br" ref="disc">
        </property>

    </bean>

    <bean id="altoVxi" class="techehub.Car">

        <property name="fl" ref="alloy">
        </property>

        <property name="fr" ref="alloy">
        </property>

        <property name="bl" ref="alloy">
        </property>

        <property name="br" ref="alloy">
        </property>

    </bean>
    -->


    <bean id="altoVxi" class="techehub.Car">
        <constructor-arg name="fl"  ref="alloy"></constructor-arg>
        <constructor-arg name="fr"  ref="alloy"></constructor-arg>
        <constructor-arg name="bl"  ref="alloy"></constructor-arg>
        <constructor-arg name="br"  ref="alloy"></constructor-arg>
    </bean>

</beans>